<div>
    <p>{{products[0].Id}}</p>
    <p>{{products[0].Title}}</p>
    <img src={{products[0].img}} alt="" width="{{width}}" height="{{height}}"/>
</div>
<div>
    <p>{{products[1].Id}}</p>
    <p>{{products[1].Title}}</p>
    <img src={{products[1].img}} alt="" width="{{width}}" height="{{height}}"/>
</div>
<div>
    <p>{{products[2].Id}}</p>
    <p>{{products[2].Title}}</p>
    <img src={{products[2].img}} alt="" width="{{width}}" height="{{height}}"/>
</div>
<div>
    <p>{{products[3].Id}}</p>
    <p>{{products[3].Title}}</p>
    <img src={{products[3].img}} alt="" width="{{width}}" height="{{height}}"/>
</div>
<div>
    <p>{{products[4].Id}}</p>
    <p>{{products[4].Title}}</p>
    <img src={{products[4].img}} alt="" width="{{width}}" height="{{height}}"/>
</div>
