<div>
    <caption>Employee Records</caption>
    <table>
        <thead>
            <tr>
                <th>SLNO</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>PHONE</th>
            </tr>
        </thead>
        <tbody>
              <tr>
                <td>1</td>
                <td>{{emp1.name}}</td>
                <td>{{emp1.email}}</td>
                <td>{{emp1.phone}}</td>
              </tr>
              
        </tbody>
    </table>
</div>
