<!-- <link href="app.component.css" />
{{title}}
<app-about></app-about>
<app-home></app-home>
<app-contact></app-contact>
<nav>
  <ul>
    <li><a  routerLink="/home">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/cont">Contact</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<h1 style="color:coral">Heading</h1>
<p>Paragraph1</p>
<p class="p1">Paragraph2</p>
<p class="p1">Paragraph3</p>
<p class="p1">Paragraph4</p>
<div class="d1">

</div>
<p [ngClass]="style1">Ng Class Example-1</p>
<p [ngClass]="style2">Ng Class Example-2</p>
<p [ngClass]="{'d1':true, 'c2':true}">Ng Class Example</p> -->

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
